/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2018, 6:30:41 PM
    Author     : prem
*/


* {
    /*
    Base color scheme
    */
    -cone-color:#ffff00;
    -blue-mobile-goal:#2d2db4;
    -red-mobile-goal:#b42d2d;
    -red-alliance:#ff4444;
    -blue-alliance:#4444ff;
    -tile-color:#787878;
    -perimeter-color:#000000;

    /*
    Cone level colors
    */
    -cone-base:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, white, derive(-cone-color, 12.5%));
    -cone-level1:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, white, derive(-cone-color, 25%));
    -cone-level2:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, white, derive(-cone-color, 50%));
    -cone-top:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, white, -cone-color);

    /*
    Cone rib colors
    */
    -cone-base-dimmer:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(white, -20%), derive(-cone-color, -5%));
    -cone-level1-dimmer:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(white, -10%), derive(-cone-color, -5%));
    -cone-level2-dimmer:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(white, 0%), derive(-cone-color, -5%));

    /*
    Mobile Goal level colors
    */
    -blue-mobile-goal-base:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, -blue-mobile-goal, -blue-alliance);
    -blue-mobile-goal-mid:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-blue-mobile-goal, -35%), -blue-alliance);
    -blue-mobile-goal-wedge:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-blue-mobile-goal, -75%), -blue-alliance);
    -blue-mobile-goal-tip:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-blue-mobile-goal, 50%), -blue-alliance);

    -red-mobile-goal-base:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-red-mobile-goal, 20%), -red-alliance);
    -red-mobile-goal-mid:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-red-mobile-goal, 35%), -red-alliance);
    -red-mobile-goal-tip:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(-red-mobile-goal, 50%), -red-alliance);

    /*
    Stationary Goal gradient
    */
    -stationary-goal:radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 100%, derive(white, -80%) 0%, black 50%);

    /*
    Transparent colors
    */
    -blue-alliance-transp:rgba(68, 68, 255, 0.1);
    -red-alliance-transp:rgba(255, 68, 68, 0.1);

    /*
    Other colors
    */
    -blue-bar-gradient:linear-gradient(to left, black 0%, -blue-alliance 40%, -blue-alliance 60%, black 100%);
    -red-bar-gradient:linear-gradient(to left, black 0%, -red-alliance 40%, -red-alliance 60%, black 100%);
    -tape:white;
    -off-white:derive(white, -5%);

    /*
    Blue variants
    */
    -blue-base-light:rgba(0%, 50%, 100%, 0.1);
    -blue-base-quarter:rgba(0%, 50%, 100%, .25);
    -blue-base-half:rgba(0%, 50%, 100%, .5);
    -blue-base-triple-quarter:rgba(0%, 50%, 100%, .75);
    -blue-base:rgb(0%, 50%, 100%);
    
    /*
    Green variants
    */
    -green-base-light:rgba(0%, 75%, 25%, 0.1);
    -green-base-quarter:rgba(0%, 75%, 25%, 0.25);
    -green-base-half:rgba(0%, 75%, 25%, 0.5);
    -green-base-triple-quarter:rgba(0%, 75%, 25%, 0.75);
    -green-base:rgb(0%, 75%, 25%);
    
    /*
    Red variants
    */
    -red-base-light:rgba(100%, 10%, 0%, 0.1);
    -red-base-quarter:rgba(100%, 10%, 0%, 0.25);
    -red-base-half:rgba(100%, 10%, 0%, 0.5);
    -red-base-triple-quarter:rgba(100%, 10%, 0%, 0.75);
    -red-base:rgb(100%, 10%, 0%);
    
    /*
    Dark-mode specific colors
    */
    -black-base:derive(black, 20%);
    -off-black-base:derive(-black-base, 5%)
}

.default-background {
    -fx-background-color:-black-base;
}

.default-fill {
    -fx-fill:-black-base;
}

.default-border {
    -fx-border-color:-black-base;
}

.invert-background {
    -fx-background-color:white;
}

.invert-fill {
    -fx-fill:white;
}

.invert-border {
    -fx-border-color:white;
}

/*
Button stuff
*/

.button, .toggle-button, .cancel-button, yes-button {
    -fx-border-radius:5;
}

.button, .toggle-button {
    -fx-border-color:-blue-base;
    -fx-background-color:-black-base;
}

.button:focused, .toggle-button:focused {
    -fx-background-color:-blue-base-light;
}

.button:hover, .toggle-button:hover {
    -fx-background-color:-blue-base-quarter;
}

.button:pressed, .toggle-button:pressed {
    -fx-background-color:-blue-base-triple-quarter;
}

.button:disabled, .toggle-button:disabled {
    -fx-background-color:-red-base-quarter;
}

.toggle-button:selected {
    -fx-background-color:-blue-base-half;
}

.cancel-button {
    -fx-border-color:-red-base;
    -fx-background-color:white;
}

.cancel-button:focused {
    -fx-background-color:-red-base-light;
}

.cancel-button:hover {
    -fx-background-color:-red-base-quarter;
}

.cancel-button:pressed {
    -fx-background-color:-red-base-half;
}

.yes-button {
    -fx-background-color:white;
    -fx-border-color:-green-base;
}

.yes-button:focused {
    -fx-background-color:-green-base-light;
}

.yes-button:hover {
    -fx-background-color:-green-base-quarter;
}

.yes-button:pressed {
    -fx-background-color:-green-base-half;
}

/*
Cone stuff
*/

.cone-base, .cone-level1, .cone-level2, .cone-level3 {
    -fx-stroke:black;
    -fx-stroke-width: 0.75;
    -fx-effect:dropshadow(two-pass-box, black, 5, 0, 0, 0);
}

.cone-base-rib, .cone-level1-rib, .cone-level2-rib {
    -fx-stroke:black;
    -fx-stroke-width: 0.5;
    -fx-effect:dropshadow(two-pass-box, black, 2.5, 0, 0, 0);
}

.cone-base {
    -fx-fill:-cone-base;
}

.cone-level1 {
    -fx-fill:-cone-level1;
}

.cone-level2 {
    -fx-fill:-cone-level2;
}

.cone-level3 {
    -fx-fill:-cone-top;
}

.cone-base-rib {
    -fx-fill:-cone-base-dimmer;
}

.cone-level1-rib {
    -fx-fill:-cone-level1-dimmer;
}

.cone-level2-rib {
    -fx-fill:-cone-level2-dimmer;
}

/*
Mobile Goal Stuff
*/

.blue-mobile-goal-base, .red-mobile-goal-base, .blue-mobile-goal-mid, .red-mobile-goal-mid,
.blue-mobile-goal-tip, .red-mobile-goal-tip {
    -fx-stroke:#000000;
    -fx-stroke-width:0.75;
    -fx-effect:dropshadow(two-pass-box, black, 10, 0, 0, 0);
}

.blue-mobile-goal-base {
    -fx-fill:-blue-mobile-goal-base;
}

.blue-mobile-goal-mid {
    -fx-fill:-blue-mobile-goal-mid;
}

.blue-mobile-goal-tip {
    -fx-fill:-blue-mobile-goal-tip;
}

.red-mobile-goal-base {
    -fx-fill:-red-mobile-goal-base;
}

.red-mobile-goal-mid {
    -fx-fill:-red-mobile-goal-mid;
}

.red-mobile-goal-tip {
    -fx-fill:-red-mobile-goal-tip;
}

.mobile-goal-insets, .mobile-goal-pockets {
    -fx-stroke:black;
    -fx-effect:innershadow(two-pass-box, black, 5, 0, 0, 0);
}

.mobile-goal-insets {
    -fx-fill:rgba(0, 0, 0, 0.15);
}

.mobile-goal-pockets {
    -fx-stroke-width:0.5;
    -fx-fill:rgba(0, 0, 0, 0.5);
}

/*
Other things
*/

.stationary-goal {
    -fx-fill:-stationary-goal;
    -fx-effect:dropshadow(two-pass-box, black, 10, 0, 0, 0);
}

.field {
    -fx-border-color:-perimeter-color;
    -fx-border-width:5;
}

.tile {
    -fx-fill:-tile-color;
    -fx-stroke:black;
}

.red-alliance-tile {
    -fx-fill:-red-alliance;
}

.blue-alliance-tile {
    -fx-fill:-blue-alliance;
}

.blue-bar, .red-bar {
    -fx-effect:dropshadow(two-pass-box, black, 10, 0, 0, 0);
}

.blue-bar {
    -fx-fill:-blue-bar-gradient;
}

.red-bar {
    -fx-fill:-red-bar-gradient;
}

.tape {
    -fx-fill:-tape;
}

.bordered {
    -fx-border-color:black;
    -fx-border-width:5;
}

.flat-progress-bar {
    -fx-accent:-blue-base;
}

/*
Alliance marking
*/

.blue-alliance {
    -fx-fill:-blue-alliance;
}

.red-alliance {
    -fx-fill:-red-alliance;
}

.blue-alliance-backing {
    -fx-background-color:-blue-alliance;
}

.red-alliance-backing {
    -fx-background-color:-red-alliance;
}

.blue-alliance-border {
    -fx-border-color:-blue-alliance;
}

.red-alliance-border {
    -fx-border-color:-red-alliance;
}

/*
Field mode selector
*/

.field-mode-selector {
    -fx-background-color:-black-base;
    -fx-border-color:-blue-base;
}

.field-mode-selector:focused {
    -fx-background-color:-blue-base-quarter;
}

.field-mode-selector:hover {
    -fx-background-color:-blue-base-half;
}

.field-mode-selector:pressed {
    -fx-background-color:-blue-base-triple-quarter;
}

/*
Images
*/

.robot {
    -fx-image:url(../../images/topviewicon.png);
    -fx-effect:dropshadow(two-pass-box, black, 10, 0, 0, 0);
}

.vex-logo {
    -fx-image:url(../../images/VEXEDR-stacked-red-transp-1000px.png);
}

.dvhs-robotics-logo {
    -fx-image:url(../../images/dvhsroboticslogo2015.png);
}

.check {
    -fx-image:url(../../images/check.png);
}

.logo {
    -fx-image:url(../../images/icon.png);
}

.robot-cad {
    -fx-image:url(../../images/pEc-3PREM1.png);
}

.mobile-goal-cad {
    -fx-image:url(../../images/redMOGO.png);
}

.cone-cad {
    -fx-image:url(../../images/cone.png);
}

/*
Info screen things
*/

.flat-tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color:-black-base;
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

.flat-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:-off-black-base;
    -fx-border-color:derive(-off-black-base, 10%);
}

.flat-tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color:-blue-base-quarter;
}

.flat-tab-pane > .tab-header-area > .headers-region > .tab:pressed {
    -fx-background-color:-blue-base-triple-quarter;
}

.flat-tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color:-blue-base-half;
}
/*
Scrollbar styling
*/

.scroll-bar:horizontal > .thumb,
.scroll-bar:vertical > .thumb{
    -fx-background-color:-black-base;
}

.scroll-bar:horizontal:hover > .thumb,
.scroll-bar:vertical:hover > .thumb {
    -fx-background-color:-blue-base-quarter;
}

.scroll-bar:horizontal:pressed > .thumb,
.scroll-bar:vertical:pressed > .thumb {
    -fx-background-color:-blue-base-half;
}

/*
Menubar styling
*/

.flat-menu-bar {
    -fx-background-color:-black-base;
}

/*
SplitPane styling
*/


.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color:-off-black-base;
}

.split-pane:horizontal > .split-pane-divider:hover,
.split-pane:vertical > .split-pane-divider:hover {
    -fx-background-color:-blue-base-quarter;
}

.split-pane:horizontal > .split-pane-divider:pressed,
.split-pane:vertical > .split-pane-divider:pressed {
    -fx-background-color:-blue-base-half;
}

/*
Clickable cover
*/

.clickable-cover {
    -fx-background-color:transparent;
    -fx-fill:transparent;
}

.clickable-cover:hover {
    -fx-background-color:-blue-base-quarter;
    -fx-fill:-blue-base-quarter;
}

.clickable-cover:pressed {
    -fx-background-color:-blue-base-half;
    -fx-fill:-blue-base-half;
}

/*
Error text
*/

.error-text {
    -fx-fill:red;
}

.error-text:hover {
    -fx-fill:derive(red, 10%);
}

/*
Success text
*/

.success-text {
    -fx-fill:green;
}

.success-text:hover {
    -fx-fill:derive(green, 10%);
}

/*
Checkbox styling
*/

.flat-check-box > .box {
    -fx-background-color:-black-base;
    -fx-border-color:-off-black-base;
    -fx-border-radius:1.5;
}

.flat-check-box:selected > .box > .mark,
.flat-check-box:selected > .text {
    -fx-background-color:-green-base;
    -fx-fill:-green-base;
}

/*
Key styling
*/

.key > .base,
.key > .face {
    -fx-fill:-black-base;
    -fx-stroke:white;
    -fx-stroke-width:0.5;
}

.key:active > .base {
    -fx-fill:-green-base-half;
}

.key:active > .face {
    -fx-fill:-green-base-triple-quarter;
}

.key > .depth {
    -fx-stroke:white;
    -fx-stroke-width:0.5;
}

.indicator {
    -fx-fill:-black-base;
    -fx-stroke:white;
}

/*
Keyboard styling
*/

.keyboard-rect {
    -fx-fill:transparent;
}

.keyboard-rect:hover {
    -fx-fill:-blue-base-light;
}

.keyboard-rect:saved {
    -fx-fill:-green-base-quarter;
}

.keyboard-rect:pressed {
    -fx-fill:-blue-base-half;
}

.keyboard-rect:selected {
    -fx-fill:-blue-base-quarter;
}

.keyboard-rect:disabled {
    -fx-fill:-red-base-light;
}

/*
Quick fixes
*/
.label {
    -fx-fill:white;
    -fx-text-fill:white;
}

.button {
    -fx-text-fill:white;
}

.tab-label {
    -fx-text-fill:white;
}

.combo-box-label {
    -fx-text-fill:white;
}

.text {
    -fx-fill:white;
}